
# Paths
export PATH="/usr/local/bin:/usr/local/sbin:$PATH"

# Couple of extras for OSX
if [[ $OSTYPE == darwin* ]]; then
  # Override default apps
  export PATH="$(brew --prefix homebrew/php/php54)/bin:$PATH"
  export PATH="$(brew --prefix homebrew/php/php55)/bin:$PATH"
  export PATH="$(brew --prefix homebrew/php/php56)/bin:$PATH"
  export PATH="/usr/local/opt/ruby/bin:$PATH"
fi

# Add composer bin to PATH
export PATH="~/.composer/vendor/bin:$PATH"

# default editor
export EDITOR="subl"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:ls *"

# Docker
# export DOCKER_HOST=tcp://localhost:4243
