# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shotcuts
alias dots="cd ~/.dotfiles"
alias g="git"

# List all files colorized in long format, including dot files
# alias ls="ls -G"
alias la="ls -Gla"

# List only directories
alias lsd='ls -lG | grep "^d"'

# List all files horz with color, including dots
alias lsa="ls -aG"

# always ask for confirmation when removing files
#alias rm='rm -i';

# always ask for confirmation when copying files
#alias cp='cp -i';

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# File size
alias fs="stat -f \"%z bytes\""

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do alias "$method"="lwp-request -m '$method'"; done

# Re-source bash
alias src="source $HOME/.bashrc"

# Restart DNSmasq osx
alias dns="sudo launchctl stop homebrew.mxcl.dnsmasq && sudo launchctl start homebrew.mxcl.dnsmasq"

# Some PHP tooling aliases
alias artisan="php artisan"

# thefuck
alias fuck='eval $(thefuck $(fc -ln -1)); history -r'
